@charset"UTF-8";

//背景色を変える
body{
  background-color: #fbf9cc;
}

h1{
  font-size:1.80em;
  color:#3339cc;
  text-align:left;
  
  border:#94c8b1 1px dotted;  //境界線
}

h3{
  font-size:6.50em;
  color:#3339cc;
}


  h2 span{
    color: #d0e35b;
  }
  
  //id
  #lead{
    border-top:#ff6600;
    
    text-align:center;
  }  
  
  //class1
  .greeting{
    border-top:#ff6600 1px dotted;
    
    text-align:center;
  }
  
  //class2
  p.greeting{
    border-top:#ff6600 1px dotted;
    
    text-align:center;
  }
  
  //背景画像
  .fox{
      background-image:url(/img/kitunemura10.jpg);  //画像リンク
      background-repeat:no-repeat;
      background-position:right center;
  }
