@charset"UTF-8";

//背景色を変える
body{background-color: #fbf9cc}

h1{
  font-size:1.80em;
  color:#3339cc;
  text-align:left;
  
  border:#94c8b1 1px dotted;  //境界線
}



//型
  h1 span{
    color:#ff6600;
  }
  
  //id
  #lead{
    vorder-top:#ff6600;
    
    text-align:center;
  }  
  
  //class1
  .greeting{
    bordeer-top:#ff6600 1px dotted;
    
    text-align:center;
  }
  
  //class2
  p.greeting{
    vorder-top:#ff6600 1px dotted;
    
    text-align:center;
  }
  
  //背景画像
  body{
      background-color: #ff6600;
      background-image:url(/img/kitunemura10.jpg);  //画像リンク
      background-repeat:repeat-x;
  }
